<head>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<div class="profile-container">

    <div class="profile-info">
<%if(locals.user){%>
    <%if(profile_user.avatar){%>
        <div class="dp-container">
            <img src="<%=profile_user.avatar%>" alt="<%=profile_user.name%>" class="dp" />
            <%if(locals.user.id==profile_user.id){%>
                <a href="/users/delete-avatar/<%=profile_user.id%>"><i class="fas fa-id-card fa-lg"></i> Delete</a>
                <%}%>
        </div>
        <%}else if(profile_user.avatarGoogle){%>
            <div class="dp-container">
                <img src="<%=profile_user.avatarGoogle%>" alt="<%=profile_user.name%>" class="dp" />
                <%if(locals.user.id==profile_user.id){%>
                    <a href="/users/delete-avatar/<%=profile_user.id%>"><i class="fas fa-id-card fa-lg"></i> Delete</a>
                    <%}%>
            </div>
            <%}%>
                <%}%>
                    <%if(locals.user){%>
                        <%if(locals.user.id==profile_user.id){%>
                            <div class="info-container">
                                <div class="user-info">
                                    <h3>Name: <%=profile_user.name%>
                                    </h3>
                                    <h3>Email: <%=profile_user.email%>
                                    </h3>
                                </div>
                                <br>
                                <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data"
                                    method="post">
                                    <input type="text" name="name" placeholder="your name"
                                        value="<%=profile_user.name%>" required /><br>
                                    <input type="email" name="email" placeholder="your email"
                                        value="<%=profile_user.email%>" required /><br>
                                    <label for="avatar">Select profie picture: </label><br>
                                    <input type="file" name="avatar" placeholder="profile picture">
                                    <br>
                                    <input type="submit" value="Update">
                                </form>
                                <br>
                                <div class="delete-user-button">
                                    <a href="/users/delete-User/<%=profile_user.id%>"><i
                                            class="fa-solid fa-user-slash"></i></a><br>
                                </div>
                                <label>Delete profile</label>
                            </div>

                            <%}else{%>

                                <div class="other-info-container">
                                    <h3>Name: <%=profile_user.name%>
                                    </h3>
                                    <h3>email: <%=profile_user.email%>
                                    </h3>                                            
                                    <a href="/friendship/request/?from_user=<%=locals.user.id%>&to_user=<%=profile_user.id%>" class="friend-request-button">Sent Friend request</a>
                                                         
                                </div>

                            <%}%>

                        <%}%>
    </div>
    <%if(locals.user.id==profile_user.id){%>
        <div class="profile-friends-container">
            <div class="profile-friends">
                <h3>Friends</h3>
                <ul>
                    <%if(profile_user.friends.length>0){%>
                        <%for(friend of profile_user.friends){%>
                            <%if(friend.from_user._id == locals.user.id){%>
                            <li>
                                    <p><%=friend.to_user.name%></p>
                            </li> 
                            <%}else{%>
                                <li>
                                    <p><%=friend.from_user.name%></p>
                                </li>
                            <%}%>    
                        <%}%>
                    <%}%>
                </ul>
            </div>
    
            <div class="profile-friends-requests">
                <h3>Friends Requests</h3>
                <ul>
                    <%if(profile_user.friendRequests.length>0){%>
                        <%for(request of profile_user.friendRequests){%>
                            <li>
                                <p>From <%=request.from_user.name%></p>
                                <div class="request-options">
                                    <a href="/friendship/accept-request/?request=<%=request._id%>" class="friend-request-accept-button">accept</a>
                                    <a href="/friendship/reject-request/?request=<%=request._id%>">reject</a>
                                </div>
                            </li>
                        <%}%>
                    <%}%>
                </ul>
            </div>
        </div>
        
    <%}%>
</div>
<%-include('_chat_box')-%>

<!-- custom js script -->
<script src="/js/user_profile.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/chat_engine.js"></script>

<%if(locals.user) {%>
    <script>
        new chatEngine('user-chat-box','<%= locals.user.email%>','<%= locals.user.name%>','#global-chat-toggle')
    </script>
<%}%>